@using SensiveBlogProject.EntityLayer.Concrete
@model List<Article>
<section>
    <div class="container">
        <div class="owl-carousel owl-theme blog-slider">

            @foreach (var item in Model)
            {
               
            <div class="card blog__slide text-center">
                <div class="blog__slide__img">
                    <img class="card-img rounded-0" src="@item.CoverImageUrl" style="width:349px;height:192px;" alt="">
                </div>
                <div class="blog__slide__content">
                    <a class="blog__slide__label" href="#">@item.Category.CategoryName</a>
                    <h3><a href="/Article/ArticleDetail/@item.ArticleId">@item.Title</a></h3>
                    <p>@item.CreatedDate.ToString("dd/MMM/yyyy")</p>
                </div>
            </div>
            }
        </div>
    </div>
</section>