@using SensiveBlogProject.EntityLayer.Concrete
@model List<Category>
<div class="col-md-6">
    <div class="dash_blog">
        <div class="dash_blog_inner">
            <div class="dash_head">
                <h3><span><i class="fa fa-calendar"></i> Makale Yazabileceğin Kategoriler</span><span class="plus_green_bt"><a href="#">+</a></span></h3>
            </div>
            <div class="list_cont">
                <p>Makale Kategorileri</p>
            </div>
            <div class="task_list_main">
                <ul class="task_list">
                    @foreach (var item in Model)
                    {
                        
                   
                    <li><a href="#">@item.CategoryName</a></li>
                    }
                </ul>
            </div>
            
        </div>
    </div>
</div>