@using SensiveBlogProject.EntityLayer.Concrete
@model List<Article>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AuthorLayout/Index.cshtml";
}

      
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"></h2>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped projects">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width: 5%">Numara</th>
                            <th style="width: 5%"></th>
                            <th style="width: 30%">Makale Başlığı</th>
                            <th>Yayınlanma Tarihi</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ArticleId 
                                </td>
                                <td>
                                    <img src="@item.CoverImageUrl" style="width:60px;height:60px;border-radius:50%;" />
                                </td>
                                <td><a>@item.Title</a></td>
                                <td>@item.CreatedDate.ToString("dd/MMM/yyyy")</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs">Sil</button>
                                </td>
                                <td>
                                    <a  href="/Author/AuthorContents/UpdateContent/@item.ArticleId" class="btn btn-success btn-xs">Güncelle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <!-- end dashboard inner -->

