@using SensiveBlogProject.EntityLayer.Concrete
@model Article
@{
    ViewData["Title"] = "UpdateContent";
    Layout = "~/Views/AuthorLayout/Index.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <!-- row -->
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Makaleyi Güncelle</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <form method="post">
                            <div class="row">
                                <!-- user profile section -->
                                <!-- profile image -->
                                <div class="col-lg-12">
                                    
                                    <!-- profile contant section -->
                                    <div class="full inner_elements margin_top_30">
                                        <div class="tab_style2">
                                            <div class="tabbar">
                                                
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="recent_activity" role="tabpanel" aria-labelledby="nav-home-tab">
                                                        <div class="msg_list_main">

                                                       
                                                            <div class="container">
                                                                <input type="hidden" asp-for="ArticleId" />
                                                                <label>Başlığı</label>
                                                                <input type="text" asp-for="Title" class="form-control" required />
                                                                <br />
                                                                <label>Resim Yolu</label>
                                                                <input type="text" asp-for="CoverImageUrl" class="form-control" required />
                                                                <br />
                                                                <label>Oluşturulma Tarihi</label>
                                                                <input type="datetime" asp-for="CreatedDate" class="form-control" readonly  />
                                                                <br />
                                                                <label for="CategoryId">Kategori</label>
                                                                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.CategoryList">
                                                                    <option value="">Kategori Seçin</option>
                                                                </select>
                                                                <br />
                                                                <label>İçeriği</label>
                                                                <textarea rows="20" asp-for="Description" class="form-control" required></textarea> 
                                                                <button class="btn btn-success">Güncelle</button>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end user profile section -->
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>