<div class="single-footer-widget">
    <h6>Bülten</h6>
    <p>En son eklenen bloglarımızdan haberdar olun!</p>
    <div class="">

        <form target="_blank" novalidate="true" asp-action="Subscribe" asp-controller="Newsletter" method="post" class="form-inline">

            <div class="d-flex flex-row">

                <input class="form-control" name="Email" placeholder="Email Adresiniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Adresiniz'"
                       required="" type="email">

                <button type="submit" class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                <div style="position: absolute; left: -5000px;">
                    <input name="" tabindex="-1" value="" type="text">
                </div>
            </div>

            <div class="info"></div>
        </form>
    </div>
</div>