
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>
    <!--================Header Menu Area =================-->
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

    
    <!--================Header Menu Area =================-->
    <!--================ Hero sm Banner start =================-->
    @await Component.InvokeAsync("_UILayoutBannerComponentPartial")

    
    <!--================ Hero sm Banner end =================-->
    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
            <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
    <!--================ Start Footer Area =================-->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    
    <!--================ End Footer Area =================-->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")


</body>
</html>