@using SensiveBlogProject.EntityLayer.Concrete
@model Article
@{
    ViewData["Title"] = "ArticleDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}


<section class="blog-post-area section-margin mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                @await Component.InvokeAsync("_ArticleDetailMainComponentPartial", new { id = ViewBag.id })

                @await Component.InvokeAsync("_ArticleDetailAuthorAreaComponentPartial", new { id = ViewBag.id })

                @await Component.InvokeAsync("_ArticleDetailCommentListComponentPartial", new { id = ViewBag.id })

                @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new Comment { ArticleId = ViewBag.id })


            </div>


            <!-- Start Blog Post Siddebar -->
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">

                    @await Component.InvokeAsync("_DefaultNewsLetterComponentPartial")
                    @await Component.InvokeAsync("_DefaultCategoryComponentPartial")
                    @await Component.InvokeAsync("_DefaultTagCloudComponentPartial")
                </div>
            </div>
        </div>
        <!-- End Blog Post Siddebar -->
    </div>
</section>