
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AuthorLayout/Index.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="row column1">
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-comments-o red_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.CommentCount</p>
                            <p class="head_couter">Yaptığınız Yorum Sayısı</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-user yellow_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.usercount</p>
                            <p class="head_couter">Toplam Üye Sayımız</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-clock-o blue1_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.articlecount</p>
                            <p class="head_couter">Toplam Makale Sayımız</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full counter_section margin_bottom_30">
                    <div class="couter_icon">
                        <div>
                            <i class="fa fa-cloud-download green_color"></i>
                        </div>
                    </div>
                    <div class="counter_no">
                        <div>
                            <p class="total_no">@ViewBag.categorycount</p>
                            <p class="head_couter">Toplam Kategori Sayımız</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row column1 social_media_section">
            <div class="col-md-6 col-lg-3">
                <div class="full socile_icons fb margin_bottom_30">
                    <div class="social_icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="social_cont">
                        <ul>
                            <li>
                                <span><strong>384</strong></span>
                                <span>Arkadaşlar</span>
                            </li>
                            <li>
                                <span><strong>128</strong></span>
                                <span>İçerik</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full socile_icons tw margin_bottom_30">
                    <div class="social_icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="social_cont">
                        <ul>
                            <li>
                                <span><strong>584</strong></span>
                                <span>Takipçi</span>
                            </li>
                            <li>
                                <span><strong>978</strong></span>
                                <span>Tweet</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full socile_icons linked margin_bottom_30">
                    <div class="social_icon">
                        <i class="fa fa-linkedin"></i>
                    </div>
                    <div class="social_cont">
                        <ul>
                            <li>
                                <span><strong>758</strong></span>
                                <span>Bağlantı</span>
                            </li>
                            <li>
                                <span><strong>365</strong></span>
                                <span>İçerik</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="full socile_icons google_p margin_bottom_30">
                    <div class="social_icon">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="social_cont">
                        <ul>
                            <li>
                                <span><strong>450</strong></span>
                                <span>Takipçi</span>
                            </li>
                            <li>
                                <span><strong>57</strong></span>
                                <span>İçerik</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row column4 graph">

            @await Component.InvokeAsync("_AuthorArticleListComponentPartial")
            @await Component.InvokeAsync("_AuthorCategoryListComponentPartial")
            
        </div>
    </div>
    <!-- footer -->
    
</div>

