@model List<CategoryWithArticleCountViewModel>
<div class="single-sidebar-widget post-category-widget">
    <h4 class="single-sidebar-widget__title">Kategoriler</h4>
    <ul class="cat-list mt-20">

        @foreach (var item in Model)
        {
            <li>
                <a href="#" class="d-flex justify-content-between">
                    <p>@item.CategoryName</p>
                    <p>@item.ArticleCount</p>
                </a>
            </li>
        }
      
 
    </ul>
</div>