@using SensiveBlogProject.EntityLayer.Concrete
@model Comment
<div class="comment-form">
    <h4>Yorum Yap</h4>
    @if (!User.Identity.IsAuthenticated) // Kullanıcı giriş yapmamışsa
    {
        if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Yorum yapabilmek için giriş yapmanız gerekiyor.
            </div>
        }
    }
    else
    {
        <form method="post" asp-action="AddComment" asp-controller="Comment">
            <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
            <div class="form-group">
                <textarea class="form-control mb-10" asp-for="Detail" rows="8" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
            </div>
            <button class="button submit_btn">Gönder</button>
        </form>

    }

       
   
</div>