@using SensiveBlogProject.EntityLayer.Concrete
@model Article

<div class="navigation-area">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
         
            <div class="detials">
                <a href="#"><h4> Yazar: @Model.AppUser.Name @Model.AppUser.Surname </h4></a>
                <h6>@Model.AppUser.Description
                </h6>
            </div>
        </div>
        
    </div>
</div>