@model List<Category>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />

    <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Blog Listesi</th>

    </tr>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.CategoryId</th>
                <th>@item.CategoryName</th>
                <th><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></th>
                <th><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></th>
                <th><a href="" class="btn btn-warning">Blog Detayları</a></th>
            </tr>
        }

</table>
<a href="/Category/CreateCategory/" class="btn btn-primary">Yeni Kategori Girişi</a>
</div>