@model Category
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Kategori Adı</label>
        <input type="type" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-info">Kategoriyi Ekle</button>
    </form>
</div>