@model Article

<div style="border:2px dashed gray;padding:10px;">
	<h2>Eklenen Son Blog</h2>
	<img src="@Model.CoverImageUrl" style="width:250px; height:120px;" />
	<br />
	<h3>@Model.Title</h3>
	<a href="#">Bu Makaleyi Okuyun</a>
</div>
