@using SensiveBlogProject.EntityLayer.Concrete
@model List<Article>
@{
    Layout = "~/Areas/Author/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        <!-- Sidebar -->
        <!-- Main Content -->
        <main class="content">
            <h1>Kullanıcı Makaleleri</h1>
            <div class="article-list">
                @foreach (var item in Model)
                {
             
                <div class="article">
                    <h3>@item.Title</h3>
                    <p><strong>Tarih:</strong>@item.CreatedDate.ToString("dd/MMM/yyyy")</p>
                    <p><a href="#" class="btn btn-primary">Yazıyı Düzenle</a></p>
                </div>

                }
            </div>
        </main>
    </div>
