@using SensiveBlogProject.EntityLayer.Concrete
@model Article

<div style="border: 1px solid black; padding: 10px; width: 420px;">
    <h3>Eklenen Son Blog</h3>
    <img src="@Model.CoverImageUrl" style="width:400px; height:100px" />
    <br />
    <h4 href="#">@Model.Title</h4>
</div>
