@model Article


    <div>
        <h2>Son Blog</h2>
        <img src="@Model.CoverImageUrl" style="width:100px; height:50px"/>
    <h1>@Model.Title</h1>
    <a href="#" class="btn btn-primary">Bu Makaleyi Okuyun</a>
</div>